body {
	background-color: #282a36;
}

.App {
	width: calc(650px - 1rem);
	margin: auto;
	background-color: #242631;
	color: white;
	height: 100%;
	padding: 0.5rem 1rem 1rem;
	border-radius: 0px 0px 0.5rem 0.5rem;
	box-shadow: 1px 1px 8px 3px #353848;
}

.AppTitle {
	font-weight: 700;
	border-bottom: 1px solid #353848;
	margin-bottom: 0.5rem;
}

